<ion-view title="最新活动" id="activity">
    <ion-content style="background:#e5e5e5">
        <div class="list card">
            <a ui-sref="tabs.activitysub">
                <div class="item item-body">
                    <img class="full-image" src="images/home/huodong3.jpg">
                    <h2>七彩七夕</h2>
                    <p>时间：2016年08月04日 - 2016年08月18日</p>
                </div>
            </a>
        </div>
        <div class="list card">
            <a ui-sref="tabs.activitysub">
                <div class="item item-body">
                    <img class="full-image" src="images/home/huodong1.jpg">
                    <h2>我要上首页！之夏日清爽家常菜</h2>
                    <p>时间：2016年08月14日 - 2016年08月27日</p>
                </div>
            </a>
        </div>
        <div class="list card">
            <a ui-sref="tabs.activitysub">
                <div class="item item-body">
                    <img class="full-image" src="images/home/huodong2.jpg">
                    <h2>豆果魔兽季联盟——菜谱征集</h2>
                    <p>时间：2016年08月14日 - 2016年08月27日</p>
                </div>
            </a>
        </div>

        <div class="list card">
            <a ui-sref="tabs.activitysub">
                <div class="item item-body">
                    <img class="full-image" src="images/home/huodong4.jpg">
                    <h2>我要上首页！之酸辣家常菜</h2>
                    <p>时间：2016年07月28日 - 2016年08月10日</p>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>