
<ion-view title="活动主题">
    <!--使用ionContent来正确地定位ionScroll-->
    <ion-content>
        <ion-scroll direction="y" paging="true" ng-style="{width:getWidth(),height:getHeight()}">
            <!--给定一个div，这个div的宽度，就是app的宽度；高度为所有页面的高度之和-->
            <div ng-style="{height:getTotalHeight()}">
                <!--page 1 : 第个页面的高度和宽度都和ionScroll一样 -->
                <div class="scroll-page" ng-style="{width:getWidth(),height:getHeight()}">

                    <!--使用has-header来定位这个页面的内容-->
                    <div class="has-header">
                        <img src="images/home/ac1.jpg">
                    </div>

                    <!--// 提示箭头-->
                    <span class="icon ion-arrow-up-c arror" ng-style="{left:getArrorLeft(),top:getArrorTop()}"></span>
                </div>

                <!--page 2-->
                <div class="scroll-page" ng-style="{width:getWidth(),height:getHeight()}">

                    <div class="has-header">
                        <img src="images/home/ac2.jpg">
                    </div>
                </div>

                <!--page 3-->
                <div class="scroll-page" ng-style="{width:getWidth(),height:getHeight()}">

                    <div class="has-header">
                        <img src="images/home/ac3.jpg">
                    </div>
                </div>
                <!--page 4-->
                <div class="scroll-page" ng-style="{width:getWidth(),height:getHeight()}">
                    <div class="has-header">
                        <img src="images/home/ac4.jpg">
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>