<ion-view title="菜谱-避风塘炒虾">
    <ion-content style="background:#e5e5e5">
        <div class="list card">
            <div class="item item-body">
                <img class="full-imgage" src="images/home/cookbook/cookbook1.jpg">
                <h2>避风塘炒虾＃豆果魔兽季联盟＃</h2>
                <p>这是我最喜欢的做虾方法之一，如果你也喜欢不妨试试看，外酥里嫩的感觉会满足你的口感！</p>
            </div>
            <div class="item ">
                <p>时间：30-60分钟　　难度：初级</p>
            </div>
        </div>
        <div class="list card">
                <div class="row">
                    <div class="col col-10"><img src="images/home/cookbook/icon1.png" style="width:30px"></div>
                    <div class="col col-30 col-center"><span>材料</span></div>
                </div>
            <div class="item item-body">
                <div class="row cookbookbg ">
                    <div class="col col-60 col-center"><span class="cookbooktext">大虾</span></div>
                    <div class="col col-40 col-center"><span>300g</span></div>
                </div>
                <div class="row cookbookmargin">
                    <div class="col col-60 col-center"><span class="cookbooktext">油</span></div>
                    <div class="col col-40 col-center"><span>适量</span></div>
                </div>
                <div class="row cookbookbg">
                    <div class="col col-60 col-center"><span class="cookbooktext">面包糠</span></div>
                    <div class="col col-40 col-center"><span>适量</span></div>
                </div>
                <div class="row cookbookmargin">
                    <div class="col col-60 col-center"><span class="cookbooktext">盐</span></div>
                    <div class="col col-40 col-center"><span>适量</span></div>
                </div>
                <div class="row cookbookbg">
                    <div class="col col-60 col-center"><span class="cookbooktext">胡椒粉</span></div>
                    <div class="col col-40 col-center"><span>适量</span></div>
                </div>
                <div class="row cookbookmargin">
                    <div class="col col-60 col-center"><span class="cookbooktext">料酒</span></div>
                    <div class="col col-40 col-center"><span>适量</span></div>
                </div>
                <div class="row cookbookbg">
                    <div class="col col-60 col-center"><span class="cookbooktext">大蒜</span></div>
                    <div class="col col-40 col-center"><span>6粒</span></div>
                </div>
                <div class="row cookbookmargin">
                    <div class="col col-60 col-center"><span class="cookbooktext">青红辣椒</span></div>
                    <div class="col col-40 col-center"><span>各2个</span></div>
                 </div>
            </div>
        </div>

        <div class="list card">
            <div class="row">
                <div class="col col-10"><img src="images/home/cookbook/icon2.png" style="width:30px"></div>
                <div class="col col-30 col-center"><span>做法</span></div>
            </div>
            <div class="item item-body">
                <img class="full-imgage" src="images/home/cookbook/cookbook2.jpg">
                <p>1. 先将虾洗净，剪掉须，挑去背后的黑线。将整理好的虾加入盐、料酒、胡椒粉腌制至少15分钟。</p>
                <img class="full-imgage" src="images/home/cookbook/cookbook3.jpg">
                <p>2. 将虾最好用厨房用纸把腌制的汁吸干，（以免放入锅中溅油出来）锅中烧油，把虾炒至变色，捞出出来备用！</p>
                <img class="full-imgage" src="images/home/cookbook/cookbook4.jpg">
                <p>3. 然后再从新烧一些油，将面包糠炸一下把油过滤干净备用</p>
                <img class="full-imgage" src="images/home/cookbook/cookbook5.jpg">
                <p>4. 锅中倒入少量的油将压好的蒜泥，倒入锅中炒香，直到变得金黄色（如果喜欢也可以切一些洋葱丁放入会很香）</p>
                <img class="full-imgage" src="images/home/cookbook/cookbook6.jpg">
                <p>5. 然后再加入切好青红辣椒，炸好的面包糠和虾翻炒一会，就可以了啊！</p>
                <img class="full-imgage" src="images/home/cookbook/cookbook1.jpg">
                <p>6. 装盘就可以享用了！</p>
            </div>
        </div>
    </ion-content>
</ion-view>