<ion-view title="最新菜谱">
    <ion-content style="background:#e5e5e5">
        <div class="list card">
            <div class="item item-body">
                <a ui-sref="tabs.cookbook"><img class="full-imgage" src="images/home/cookbook/cookbook1.jpg"></a>
                <h2>避风塘炒虾＃豆果魔兽季联盟＃</h2>
                <p class="subdued">548人浏览 · 48人收藏</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <a ui-sref="tabs.cookbook"><img class="full-imgage" src="images/home/cookbook/cookmain2.jpg"></a>
                <h2>植物油版—油酥烧饼</h2>
                <p class="subdued">42481人浏览 · 3775人收藏</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <a ui-sref="tabs.cookbook"><img class="full-imgage" src="images/home/cookbook/cookmain3.jpg"></a>
                <h2>土豆泥芝士焗阿根廷红虾 #美的烤箱食谱#</h2>
                <p class="subdued">53435人浏览 · 2348人收藏</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <a ui-sref="tabs.cookbook"><img class="full-imgage" src="images/home/cookbook/cookmain4.png"></a>
                <h2>熊爪冰棒</h2>
                <p class="subdued">94248人浏览 · 13554人收藏</p>
            </div>
        </div>
    </ion-content>
</ion-view>